.arr-container{
	background-color:rgb(10, 10, 10);
	box-shadow: 10px 10px 10px 10px #423e3e;
	display: inline-block;
}

.cell{
	background-color:blue;
	display: inline-block;
	margin: auto;
    text-align: center;
    box-shadow: 0px 5px 5px 0px #201f1f;
    border-top-right-radius: 40px;
    border-top-left-radius: 40px;
    border-bottom-right-radius: 40px;
    border-bottom-left-radius: 40px;
    margin: 3px;
}